.form {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  
}
.input {
  width: 400px;
  height: 50px;
  margin-right: 1rem;
  padding: 1rem;

  font-size: 20px;
}

.btn{
    border: 0.1rem solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.842);
    border-radius: 0.3rem;
}

.btn:hover{
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}